yarn.*
teste*
salv*
*.txt
*.Identifier
env.*
*env
swaggerTypes.json
swagger/
dist
*.js
# 
node_modules
jspm_packages
.serverless
.esbuild
.webpack
.env.development
.env.production
yarn.*
yarn-error*
pnpm-lock.*
pnpm.*
*lock.json
swagger 
build
example*
.idea/
node_modules
src/**/*.js
src/**/*.js.map